html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  background-color: hsla(210,63%,6%,1);
}

body {
  /*background-color: #333;*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas:
    ". . ."
    ". main ."
    ". . .";
}

canvas {
	background: #fbe58c;
	outline: 1px solid black;
	margin: 0 auto;
	grid-area: main;
    background-color: #fff;
}

.text-overlay {
    grid-area: main;
    align-self: center;
    justify-self: center;
    z-index: 1;
    width: auto;
    max-width: 80%;
    height: auto;
    padding: 30px;
    background-color: #fbd649;
    color: #323251;
}
.text-overlay.hidden {
    display: none;
}
.text-overlay h2 {
    font-size: 34px;
    margin-top: 0;
}
.text-overlay p {
    line-height: 1.4em;
}
.text-overlay .right {
    text-align: right;
}
.text-overlay .center {
    text-align: center;
}
.text-overlay button {
    background-color: #e57388;
    border: 0 none;
    width: 44px;
    height: 22px;
    padding: 0;
    line-height: 22px;
}
.text-overlay :last-child {
    margin-bottom: 0;
}
